---
# f you'd like to change the theme's Sass variables, you must set new values before the @import line in your stylesheet.
# Add any custom CSS (or Sass, including imports) you'd like immediately after the @import line
---
@import "{{ site.theme }}";
.result li.active a {
    color: Aqua;
    cursor: default;
  }
body {
  background-color: lightblue;
}
